<section class="p-4">
  <h1 class="mb-3">Fork Join Operator</h1>
  <div class="mb-3 alert alert-primary">
    When all observables complete, emit the last emitted value from each.
  </div>
  <div class="row g-4">
    <!-- 1 -->
    <div class="col-md-4">
      <h5>Example - 01</h5>
      <hr />
      <p class="p-3 bg-light border rounded">
        <strong>of</strong>(1, 2, 3, 4, 5, 6, 7)
        <br />
        <strong>of</strong>('John', 'Bruce', 'Peter', 'Tony')
        <br />
        <strong>forkJoin</strong>([obs1$, obs2$])
      </p>
      <hr />
      <div class="mb-3 d-flex">
        <button
          class="me-3 w-100 btn btn-outline-primary"
          (click)="subscribeOne()"
        >
          Subscribe
        </button>
        <button class="w-100 btn btn-outline-danger" (click)="unsubscribeOne()">
          Unsubscribe
        </button>
      </div>
      <ul>
        <li *ngFor="let item of arrOne">{{ item | json }}</li>
      </ul>
    </div>
    <!-- 2 -->
    <div class="col-md-4">
      <h5>Example - 02</h5>
      <hr />
      <p class="p-3 bg-light border rounded">
        <strong>interval</strong>(500).pipe(take(5))
        <br />
        <strong>interval</strong>(500).pipe(take(8))
        <br />
        <strong>forkJoin</strong>([obs3$, obs4$])
      </p>
      <hr />
      <div class="mb-3 d-flex">
        <button
          class="me-3 w-100 btn btn-outline-primary"
          (click)="subscribeTwo()"
        >
          Subscribe
        </button>
        <button class="w-100 btn btn-outline-danger" (click)="unsubscribeTwo()">
          Unsubscribe
        </button>
      </div>
      <ul>
        <li *ngFor="let item of arrTwo">{{ item | json }}</li>
      </ul>
    </div>
  </div>
</section>
