section.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;

	a.grid-item {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #cff4fc;
		border: 2px solid blue;
		border-radius: 5px;
		color: #212121;
		text-decoration: none;
		cursor: pointer;
		aspect-ratio: 1/1;
	}
}

// small
@media screen and (min-width: 576px) {

	section.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

}

// medium
@media screen and (min-width: 768px) {

	section.grid-container {
		grid-template-columns: repeat(4, 1fr);
	}

}

// large
@media screen and (min-width: 992px) {

	section.grid-container {
		grid-template-columns: repeat(6, 1fr);
	}

}